# Keycloak
KEYCLOAK_HOST=
KEYCLOAK_REALM=

# App
APP_NAME="APEx Dispatch API"
APP_DESCRIPTION="APEx Dispatch Service API to run jobs and upscaling tasks"
APP_HOST=0.0.0.0
APP_PORT=8000
APP_ENV=development

# Database
DATABASE_URL=

# AUTH
OPENEO_AUTH_CLIENT_CREDENTIALS_CDSEFED=