alembic
cryptography
fastapi
flake8
geojson_pydantic
httpx
locust
loguru
mkdocs 
mkdocs-jupyter
mkdocs-material
mkdocs-material[diagrams]
mypy
mypy_extensions
openeo
psycopg2-binary
pydantic
pydantic-settings
pydantic_core
pyjwt
pymysql
pyproj
pytest
pytest-asyncio
pytest-cov
python-dotenv
requests
SQLAlchemy
stac-pydantic
types-requests
types-shapely
uvicorn[standard]
ogc-api-client @ git+https://github.com/EOEPCA/ogc-api-client.git@develop#subdirectory=src
