fastapi
fastapi_keycloak
flake8
geojson_pydantic
httpx
mypy
mypy_extensions
openeo
psycopg2-binary
pydantic
pydantic-settings
pydantic_core
pyproj
pytest
pytest-asyncio
pytest-cov
python-dotenv
requests
SQLAlchemy
types-requests
types-shapely